
<% include ./partials/header %>
<div class="ui main text container segment">
 <div class="ui huge header" ><%= blog.title %></div>
 <div class="ui top attached segment">
   <div class="item">
     <img class="ui centered rounded image" src="<%= blog.image %>">
      <div class="content">
      <span><strong><%= blog.created.toDateString() %></strong></span>
	  
	  <div class="description">
	      <p><%- blog.content %></p>
	  </div>
	  </div>
	  <a class="ui yellow button" href="/blogs/<%=blog._id%>/edit">Edit</a>
	  <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE"method="POST">
	     <button class="ui red button">Delete</button>
	  </form>
    </div>
 </div>
   
 </div>


<% include ./partials/footer %>